<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.namdungphuong.winxfirestorm">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|mcc|mnc"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.khoanam.youtubevideowall.VideoWallDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/videolist_name"
            android:screenOrientation="landscape">
            <meta-data
                android:name="@string/minVersion"
                android:value="13" />
            <meta-data
                android:name="@string/isLaunchableActivity"
                android:value="true" />
        </activity>
        <activity
            android:name=".ReadmeActivity"
            android:label="HƯỚNG DẪN SỬ DỤNG-USER GUIDE" />
        <activity
            android:name=".PossibleWords"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onEnd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Repo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllMissed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameSpace"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Missed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Options"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartScreen"
            android:screenOrientation="portrait" />

        <activity
            android:name=".DisplayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|mcc|mnc"
            android:screenOrientation="landscape"
            android:label="@string/introduce"/>
        <activity android:name=".TrailerActivity"></activity>
    </application>

</manifest>

    <!--
     <activity
            android:name="com.startapp.android.publish.list3d.List3DActivity"
            android:theme="@android:style/Theme" />
        <activity
            android:name="com.startapp.android.publish.OverlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.startapp.android.publish.FullScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme" />



    -->